<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>

  <ion-content class="cards-bg">


    

    <ion-card>
      <img [src]="selectedItem.image" />
      <ion-card-content>
        <ion-card-title>
          {{selectedItem.title}}
        </ion-card-title>
        <p>
          The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        </p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='basket'></ion-icon>
            Add to Cart
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='musical-notes'></ion-icon>
            Buy Now
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-content>

